*{
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #333;
}
nav {
    background-color: #60d91a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 5% 20px 5%;
    font-size: 16px;
    box-shadow: 0 4px 10px rgba(0, 0, 2, 0.1);
}

img {
    max-width: 100%;
    height: auto;

}

h1 {
    font-size: 30px;
}

h2 {
    font-size: 30px;
    text-align: center;
    padding-bottom: 3%;
}

h3 {
    font-size: 20px;
}

#logo{
    max-width: 100%;
    height: auto;

}
ul li {
    display: inline-block;
    padding: 0px 20px;
    
}

a {
    color: white;
    text-decoration: none;
 
}
a:hover {
    color: blue;
}

#inicio{
    display: flex;
    align-items: center;
    padding: 5% 5% 5% 5%;
    background-color: #f9f9f9;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.texto {
    padding-right: 5%;
}

#acerca{
    padding: 5% 5% 5% 5%;
    text-align:justify;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}  

#participantes {
    padding: 5% 5% 5% 5%;
    background-color: #f1f1f1;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);

  }

  .card {
    width: 300px;
    padding: 20px;
    border: 0.5px solid #ccc;
    border-radius: 20px;
    box-shadow: 0 2px 4px rgba(70, 70, 70, 0.1);
    text-align: center;
    margin: 3% 3% 0% 3%;
    background: #abe38a;
  }
  
  .card img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 20px;

  }
  
  .card h4 {
    margin: 0;
    font-size: 24px;
  }
  
  .card p {
    margin-bottom: 10px;
    font-size: 16px;
    }

    .ordenarcard{
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
    }
      
 #galeria {
        background-color: #fff;
        padding: 5% 5% 5% 5%;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      }

.gallery {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
      }
      
.gallery-item {
    width: 300px;
    height: 300px;
    margin: 10px;
    overflow: hidden;
    }
      
.gallery-item img {
    width: 100%;
    height: 100%;
    object-fit: cover;
      }


 footer {
        background-color: #f1f1f1;
        padding: 20px;
        text-align: center;
        font-size: 14px;
        color: #777;
      }