.display-mini{
    display:inherit !important;
  }

nav{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#logo{
    margin-bottom: 5%;
}

#inicio{
    display: flex;
    flex-direction: column;
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.texto{
   text-align: center;
}